<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MP.Contacts.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MP.Contacts.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <MP.Contacts.Settings>
            <setting name="AppName" serializeAs="String">
                <value>Contacts</value>
            </setting>
            <setting name="DBConnString" serializeAs="String">
                <value>Contacts.db4</value>
            </setting>
            <setting name="DBPath" serializeAs="String">
                <value>DB</value>
            </setting>
            <setting name="DBFilename" serializeAs="String">
                <value>Contacts.db4</value>
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DBCacheSize" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="DBTimeout" serializeAs="String">
                <value>00:10:00</value>
            </setting>
            <setting name="DBMode" serializeAs="String">
                <value>Shared</value>
            </setting>
            <setting name="DBInitialSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DBLimitSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DBUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DBLog" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DBAsync" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DBJournal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DBBinFileSizeLimit" serializeAs="String">
                <value>250000</value>
            </setting>
        </MP.Contacts.Settings>
    </applicationSettings>
    <userSettings>
        <MP.Contacts.Settings>
            <setting name="Culture" serializeAs="String">
                <value>pt-PT</value>
            </setting>
        </MP.Contacts.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="LiteDB" publicKeyToken="4ee40123013c9f27" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.13.0" newVersion="5.0.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>